<tr>
	<td><%= link_to branch.short_name, scbranchserver_path(branch.dn) %></td>
	<td><%= branch.ipNetworkNumber %></td>
	<td><%= branch.ipNetmaskNumber %></td>
	<td><%= branch.pos_devices_qty %></td>
</tr>