<tr>
	<td><%= link_to branch.name, scbranchserver_path(branch.branch_server.dn) %></td>
	<td><%= branch.server_ip_address %></td>
	<td><%= branch.ipNetworkNumber %></td>
	<td><%= branch.pos_devices_qty %></td>
</tr>