<!DOCTYPE html>
<html>
<head>
  <title>POSAdmin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header style="height: 50px; border: solid 1px">
</header>

<div class="container-fluid">
	<div class="sidebar">
	</div>
	<div class="content">
		<%= yield %>
	</div>
</div>
</body>
</html>
